 
 header
    {
	height:42px;
	border-bottom:solid 1px #04B404;
	overflow:hidden;
	background:#CEF6CE;
	margin-top:0px;
    }
 
 .logo 
    {
    background: none repeat scroll 0 0 #04B404;
    color: #FFFFFF;
    float: left;
    font-size: 20px;
    height: 42px;
    overflow: hidden;
    padding-top: 7px;
    text-align: center;
    width: 150px;
    }
 
 
    
.first
    { 
   	float:left;
  	overflow:hidden;
    }
.first ul
    {
	margin-top:8px;
    }		
.first ul li
	{
     display:inline;
	 padding-left:15px;
	}
		
.first ul li a
	{
	 font-size:16px;
	 text-decoration:none;
	 color:#0101DF;
	 }
.first ul li a:hover
	{
      text-decoration: underline;
      color:#0404B4;
    }
			      
.gotobutton
     {
       	width:60px;
       	height:24px;
       	font-size:15px;
       	margin-right:3px;
       
     }
 .searchbutton
     {
       	width:90px;
       	height:24px;
       	font-size:15px;
       	margin-left: 60px;
        margin-right:3px;
     }
          	
.search1
     {
       	width:130px;
       	height:23px;
      }
.search2
      {
       	width:180px;
       	height:23px;
      }
      
      
        
 .uname
      {
        font-size:13px;
        color:green;
        float:right;
        margin-right: 10px;
       }
            
                     
              
 .second
       {
   	        float:right;
   	        overflow:hidden;
       } 
.second ul
        {
        	margin:0px;
        	margin-top:13px;
        	margin-right: 10px;
        }
 .second ul li
		{
			display:inline;
			padding-left:20px;
			
		}
.second ul li a
		{
	        font-size:16px;
	        text-decoration:none;
	        color:#0101DF;
        }
 .second ul li a:hover
		{
		    text-decoration: underline;
		    color:#0404B4;
	     }
	     
	     
	     
.third ul{
	padding-left:0px;
}	     
.third ul li
{
	display: inline;
	padding-right:35px;
	
}

.third ul li a
{
	text-decoration:none;
	font-size:13px;
	
}
.third ul li a:hover
{
	text-decoration:underline;
	color:#0404B4;
	
}

.plus{
    border:1px solid #BDBDBD;
    border-radius: 8px;
    background:#81F781;
    padding: 1px 0px 3px 4px;
    width: 13px;
    height: 13px;
    float: left;
}

.select{
	width:150px;
}
			
           
       
       
  
   
 

	
